body {
    background-color: grey;
}
.navbar {
    width: 100%;
    margin: none;
    left: 0;
    position: fixed;
    text-align: center;
    color: papayawhip;
    background-color: olive;
    text-decoration: underline;
    font-size: 45px;
    font-family: cursive;
}
h1 {
    display: block;
    text-align: center;
    font-family: fantasy;
}
.img_box {
    height: auto;
    width: auto;
    border: solid 5px pink;
    background-color: greenyellow;
    display: inline-block;
    align-items: center;
    padding: 10px;

}
.yes_gif {
    margin: 3px;
    height: 250px;
}